.upload_body {
  text-align: center;
  padding: 200px;
}

.UpLoad_button{
  display: inline-block;
  background: #4285f4;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.UpLoad_button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}
.sSelect{
  height: 50px;
  /* margin-top: 5px; */
  margin-bottom: 20px;
  border-radius: 20px ;
  opacity: 0.5;
}